{% load website_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Django Project</title>
    <!-- اضافه کردن SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <!-- محتوای اصلی صفحه -->
    {% block content %}
    {% endblock %}

    <!-- نمایش پیغام‌ها در pop-up -->
    <script>
        {% if messages %}
            {% for message in messages %}
                Swal.fire({
                    icon: '{{ message.tags }}',
                    title: '{{ message }}',
                    showConfirmButton: false,
                    timer: 3000
                });
            {% endfor %}
        {% endif %}
    </script>
</body>
</html>